aiohttp==3.8.1
aiosignal==1.2.0
asgiref==3.4.1
async-timeout==4.0.1
attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
Django==3.2.8
django-filter==21.1
djangorestframework==3.12.4
Flask==2.0.2
frozenlist==1.2.0
future==0.18.2
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
line-bot-sdk==2.0.1
MarkupSafe==2.0.1
mecab-python3==1.0.4
multidict==5.2.0
mysql-connector-python-rf==2.2.2
pybybit @ git+https://github.com/MtkN1/pybybit.git@c2a5f2e0bf7fcda43dec83ad4be8b22e88288b21
pytz==2021.3
requests==2.26.0
sqlparse==0.4.2
typing_extensions==4.0.1
urllib3==1.26.7
websocket-client==1.2.1
Werkzeug==2.0.2
yarl==1.7.2
